@use '../abstracts/variables';

/* Section about
 * ========================================================================== */

.about {
	margin: 150px;
	font-family: variables.$raleway;
	color: variables.$color-title;

	&__container {
		height: 773px;
		display: flex;
		justify-content: space-between;
	}

	&__title {
		max-width: 642px;
		margin: 85px 0 0 0;
		font-size: 55px;
		line-height: 65px;
	}

	&__text {
		max-width: 430px;
		margin: 35px 0 0 0;
	}

	&__btn-read {
		margin: 65px 0 0 37px;
	}

	&__preview {
		width: 612px;
		height: 773px;
		position: absolute;
		right: 0;
		background: url('../img/preview.png');
	}

	&__btn-silver {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}


/* Section history
 * ========================================================================== */

.history {
	margin: 230px 0 0 0;

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		max-width: 340px;
		line-height: 47px;
	}

	&__btn-design {
		margin: 20px 0 0 37px;
	}

	&__content {
		max-width: 580px;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
	}

	&__text:not(:first-child) {
		max-width: 580px;
		margin: 55px 0 0 0;
	}

	&__btn-lorem {
		margin: 88px 0 0 0;
		font-size: variables.$size-text;
		font-family: variables.$poppins;
		color: variables.$color-site-shade-2;
	}
}


/* Section advantages
 * ========================================================================== */

.advantages {
	margin: 320px 0 0 0;
}

.advantage {
	height: 498px;
	display: flex;
	justify-content: flex-end;

	&:not(:first-child) {
		margin: 65px 0 0 0;
	}

	&_right {
		justify-content: flex-start;
	}

	&__image {
		position: absolute;
		width: 651px;
		height: 498px;

		&_left {
			left: 0;
		}

		&_right {
			right: 0;
		}
	}

	&__title_big {
		max-width: 255px;
		line-height: 47px;
	}

	&__text {
		max-width: 510px;
		margin: 35px 0 0 0;
	}

	&__btn {
		margin: 65px 0 0 0;
	}
}


/* Section services
 * ========================================================================== */

.services {
	&__container {
		max-width: variables.$container-2;
		margin: 260px auto 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__wrap-content {
		width: 100%;
		margin: 90px 0 0 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__title {
		width: 265px;
		text-align: center;
	}
}

.service {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 200px;

	&__title {
		max-width: 140px;
		margin: 28px 0 0 0;
		font-size: 18px;
		font-family: variables.$raleway;
		color: variables.$color-title;
		text-align: center;
		line-height: 21px;
	}

	&__text {
		max-width: 176px;
		margin: 15px 0 0 0;
		text-align: center;
	}
}


/* Section projects
 * ========================================================================== */
.projects {
	&__container {
		max-width: variables.$container-2;
		margin: 145px auto 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__wrap-content {
		width: 100%;
		margin: 44px 0 0 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}


/* Section gallery
 * ========================================================================== */

.gallery {
	&__container {
		margin: 220px auto 0 auto;
	}

	&__block-text {
		padding: 0 220px 0 0;
		display: flex;
		justify-content: space-between;
	}

	&__btn-design {
		margin: 40px 0 0 37px;
	}

	&__text {
		max-width: 290px;
	}

	&__image {
		width: 1130px;
		margin: 60px 0 0 0;
	}
}