@use '../abstracts/variables';

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 20px;


	&-2 {
		max-width: 1285px;
		margin: 0 auto;
		padding: 0 20px;
	}

	&-3 {
		max-width: 980px;
		margin: 0 auto;
		padding: 0 20px;
	}
}

.btn-info {
	font-family: variables.$poppins;
	font-size: 14px;
	color: variables.$color-site-shade;
	text-decoration: none;
	position: relative;
	display: block;

	&::before {
		position: absolute;
		content: '';
		top: 50%;
		transform: translate(0, -50%);
		left: -37px;
		width: 25px;
		height: 1px;
		background: variables.$color-site-shade;
	}
}