@use '../abstracts/variables';

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.container {
	max-width: variables.$container;
	margin: 0 auto;
	padding: 0 20px;
}