// fonts
$poppins: 'Poppins',
sans-serif;
$raleway: 'Raleway',
sans-serif;

//weights
$weight-bold: 600;
$weight-semi-bold: 700;

// containers
$container: 1170px; // 1130 + padding: 0 20px;
$container-2: 1026px; // 986 + padding: 0 20px;

// sizes
$size-text: 16px;
$size-big-title: 40px;
$size-title: 30px;

// colors
$color-site: #e6a859;
$color-site-shade: #e2b84c;
$color-site-shade-2: #e4a655;
$color-title: #534847;
$color-sub-title: #8d8180;

// backgrounds
$bg-block: #f9f9f9;
$bg-body-blue: rgba(111, 169, 196, 10);
$bg-body-yellow: rgba(226, 184, 76, 10);
$bg-body-silver: #f1f6f9;

// hovers
$btn-hover: #c8934e;
$btn-hover-silver: #eaeaea;

// transitions
$transition-hover: .3s;
$transition-active: .0s;