// fonts
$poppins: 'Poppins', sans-serif;
$raleway: 'Raleway', sans-serif;

//weights
$weight-bold: 600;
$weight-semi-bold: 700;

// containers
$container-one: 1140px; // 1120 + padding: 0 20px;
$container-two: 1285px; // 1245 + padding: 0 20px;
$container-three: 980px; // 940 + padding: 0 20px;

// sizes
$size-text: 16px;
$size-title-about: 40px;
$size-title-product: 30px;

// colors
$color-site: #e6a859;
$color-site-shade-one: #e2b84c;
$color-site-shade-two: #e4a655;
$color-title: #534847;
$color-sub-title: #8d8180;

// backgrounds
$bg-block: #f9f9f9;