.page-advantage {
	margin: 320px 0 0 0;

	&__block {
		height: 498px;
		display: flex;
		justify-content: flex-end;

		&-right {
			margin: 65px 0 0 0;
			justify-content: flex-start;
		}
	}

	&__image {
		position: absolute;
		width: 651px;
		height: 498px;

		&-left {
			left: 0;
		}

		&-right {
			right: 0;
		}
	}

	&__big-title {
		max-width: 255px;
		line-height: 47px;

	}

	&__sub-title {
		max-width: 510px;
		margin: 35px 0 0 0;
	}

	&__btn {
		margin: 65px 0 0 0;
	}
}