@use '../abstracts/variables';

.btn-orange {
	max-width: 220px;
	padding: 12px 10px;
	display: block;
	background: variables.$color-site;
	font-size: variables.$size-text;
	font-family: variables.$poppins;
	color: #fff;
	text-align: center;
}