@use '../abstracts/variables';

.footer {
	margin: 140px 0 0 0;
	background: #282322;
	padding: 80px 0;
	font-family: variables.$poppins;
	color: #fff;
}

.footer {
	&-top {
		&__container {
			display: flex;
			justify-content: space-between;
		}

		&__title {
			max-width: 100%;
			margin: 0 0 50px 0;
			font-size: 20px;
			color: #fff;
		}

		&__text {
			max-width: 318px;
			margin: 50px 0 0 0;
			color: #fff;
		}

		&__section {
			margin: 0 100px 0 0;
		}

		&__form {
			display: flex;
			flex-direction: column;

			&>* {
				margin: 10px 0 0 0;
			}
		}

		&__address {
			width: 100%;
			padding: 10px 32px;
			text-align: center;
			font-size: variables.$size-text;
			color: variables.$color-title;
			background: #fff;

			&::placeholder {
				color: variables.$color-title;
			}
		}

		&__submit {
			max-width: 100%;

			&__social-item {
				transition: variables.$transition-hover;
			}
		}

		&__social-item:not(:first-child) {
			margin: 15px 0 0 0;
		}

		&__social-link {
			display: flex;
			align-items: center;

			&>svg {
				margin: 0 10px 0 0;
			}
		}

		&__path {
			transition: variables.$transition-hover;
			fill: #fff;
		}

		&__social-text {
			transition: variables.$transition-hover;
		}
	}

	&-bottom {
		margin: 40px 0 0 0;

		&__container {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}

		&__menu {
			margin: -5px;

			&>ul {
				margin: 25px 0 0 0;

				&>li>a {
					color: #fff;
					opacity: .6;

					&::before {
						background: #fff;
					}
				}
			}
		}
	}
}

.copy {
	width: 100%;
	display: block;
	text-align: center;
	color: #fff;
}