@use '../abstracts/variables';

.menu {

	&,
	&__list {
		display: flex;
		align-items: center;
	}

	&__item:not(:first-child) {
		padding: 5px 0 5px 30px;
	}

	&__link {
		position: relative;
		color: #000;

		&::before {
			content: '';
			position: absolute;
			bottom: -8px;
			left: 0;
			width: 0%;
			height: 2px;
			background: #000;
			transition: variables.$transition-hover;
		}
	}
}