@use '../abstracts/variables';

.page-header {
	font-family: variables.$poppins;
	font-size: variables.$size-text;

	&__container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 55px 0;
	}

	&__menu>ul {
		display: flex;
		align-items: center;
	}

	&__item {
		padding: 0 15px;
	}

	&__item:first-child {
		padding: 0 15px 0 0;
	}

	&__item:last-of-type {
		padding: 0 0 0 15px;
	}

	&__link {
		color: #000;
	}

	&__btn-quote {
		margin: 0 0 0 25px;
		padding: 8px 10px;
		background: variables.$color-site;
		color: #fff;
	}
}